.conteneur {
    position: relative;
    display: grid;
    grid-template-columns: repeat(19, 40px);
    grid-template-rows: repeat(22, 40px);
    width: fit-content;
    margin: 0 auto;
    background-color: brown;
    border: solid 5px black;
    border-color: black;
}

.mur {
    size: 40px 40px;
    background-image: url("../img/mur.gif");
}
.sol {
    size: 40px 40px;
    background-image: url("../img/sol.gif");
}
.bonbon {
    size: 40px 40px;
    background-image: url("../img/bonbon.gif");
}
.pacman {
    size: 40px 40px;
    background-image: url("../img/pacman4.gif");
}
.fantom0 {
    size: 40px 40px;
    background-image: url("../img/fantome0.gif");
}
.fantom1 {
    size: 40px 40px;
    background-image: url("../img/fantome1.gif");
}
.fantom2 {
    size: 40px 40px;
    background-image: url("../img/fantome2.gif");
}
.fantom3 {
    size: 40px 40px;
    background-image: url("../img/fantome3.gif");
}
h1 {
    color: darkblue;
}
h2 {
    color: red;
}